.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
}
.hr-text:before {
  content: '';
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#818078), to(transparent));
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 .5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fcfcfa;
}

.alert-custom {
  position: absolute;
  top: 3.9rem;
  right: 20%;
  width: 400px;
  z-index: 9999 !important;
  margin-right: -142px;
}
.alert-custom.alert-dismissible {
  padding: 0.75rem 2rem;
}
.alert-custom.alert-dismissible .close {
  padding: 0 0.3rem;
}

.btn-custom {
  display: inline-block;
  padding: 8px 30px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 2px solid transparent;
  border-radius: 0px;
}

.btn-default {
  color: #141414;
  background-color: transparent;
  border-color: #141414;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
}

/* table status */
.table-wrapper {
  background: #dadde6;
  padding: 20px 25px;
  margin: 30px auto;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-wrapper .btn {
  float: right;
  color: #333;
  background-color: #fff;
  border-radius: 3px;
  border: none;
  outline: none !important;
  margin-left: 10px;
}
.table-wrapper .btn:hover {
  color: #333;
  background: #f2f2f2;
}
.table-wrapper .btn.btn-primary {
  color: #fff;
  background: #03A9F4;
}
.table-wrapper .btn.btn-primary:hover {
  background: #03a3e7;
}
.table-title .btn {		
  font-size: 13px;
  border: none;
}
.table-title .btn i {
  float: left;
  font-size: 21px;
  margin-right: 5px;
}
.table-title .btn span {
  float: left;
  margin-top: 2px;
}
.table-title {
  color: #fff;
  background: #4b5366;		
  padding: 16px 25px;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}
.table-title h2 {
  margin: 5px 0 0;
  font-size: 24px;
}
.show-entries select.form-control {        
  width: 200px;
  margin: 0 5px;
}
.table-filter .filter-group {
  float: right;
  margin-left: 15px;
  
}
.table-filter input, .table-filter select {
  height: 34px;
  border-radius: 3px;
  border-color: #ddd;
  box-shadow: none;
}
.table-filter {
  padding: 5px 0 15px;
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 5px;
}
.table-filter .btn {
  height: 34px;
}
.table-filter label {
  font-weight: normal;
  margin-left: 10px;
}
.table-filter select, .table-filter input {
  display: inline-block;
  margin-left: 5px;
}
.table-filter input {
  width: 200px;
  display: inline-block;
}
.filter-group select.form-control {
  width: 110px;
}
.filter-icon {
  float: right;
  margin-top: 7px;
}
.filter-icon i {
  font-size: 18px;
  opacity: 0.7;
}	
/* end table status */
.list-bill {
  margin-top: 25px;
}

/* Card */
.fl-left{float: left}

.fl-right{float: right}

.card
{
  display: table-row;
  width: 100%;
  background-color: #fff;
  color: #989898;
  margin-bottom: 10px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  border-radius: 4px;
  position: relative
}

.card + .card{margin-left: 2%}

.date
{
  display: table-cell;
  width: 25%;
  position: relative;
  text-align: center;
  border-right: 2px dashed #dadde6
}

.date:before,
.date:after
{
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: #DADDE6;
  position: absolute;
  top: -15px ;
  right: -15px;
  z-index: 1;
  border-radius: 50%
}

.date:after
{
  top: auto;
  bottom: -15px
}

.date time
{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.date time span{display: block}

.date time span:first-child
{
  color: #2b2b2b;
  font-weight: 600;
  font-size: 250%
}

.date time span:last-child
{
  text-transform: uppercase;
  font-weight: 600;
  margin-top: -10px
}

.card-cont
{
  display: table-cell;
  width: 75%;
  font-size: 85%;
  padding: 10px 10px 30px 50px
}

.card-cont h3
{
  color: #3C3C3C;
  font-size: 130%
}

/* .card-cont > div
{
  display: table-row
} */

.card-cont .even-date i,
.card-cont .even-info i,
.card-cont .even-date time,
.card-cont .even-info p
{
  display: table-cell
}

.card-cont .even-date i,
.card-cont .even-info i
{
  padding: 5% 5% 0 0
}

.card-cont .even-info p
{
  padding: 30px 50px 0 0
}

.card-cont .even-date time span
{
  display: block
}

.card-cont a
{
  display: block;
  text-decoration: none;
  width: 80px;
  height: 30px;
  background-color: #D8DDE0;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 2px;
  position: absolute;
  right: 10px;
  bottom: 10px
}

.row:last-child .card:first-child .card-cont a
{
  background-color: #037FDD
}

.row:last-child .card:last-child .card-cont a
{
  background-color: #F8504C
}

@media screen and (max-width: 860px)
{
  .card
  {
    display: block;
    float: none;
    width: 100%;
    margin-bottom: 10px
  }
  
  .card + .card{margin-left: 0}
  
  .card-cont .even-date,
  .card-cont .even-info
  {
    font-size: 75%
  }
}

/* end card */

/* process */
.glyphicon {
  border-radius:50%;
  border: 2px #ddd solid;
  padding:15px;
  font-size:24px;
  background-color:#fff;
  color:#999;
}

.glyphicon.active {
  border-radius:50%;
  color:#fff;
  background-color:#ddd;
}

.line {
  max-width:70%;
  min-height:2px;
  background-color: #ddd;
  margin-top:70px;
  margin-bottom:-35px;
  margin-left:auto;
  margin-right:auto;
}
/* end process */